<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Hibernate</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Seconde page</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <h1>Page</h1>
    <div data-th-text="'Je suis un titre : ' + ${title}"></div>
<!--    <div data-th-text="Un titre avec des pipes ${title}"></div>-->
</body>
</html>
