<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Hibernate</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Seconde page</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <h1>Page</h1>
    <div data-th-text="'Je suis un titre : ' + ${title}"></div>
<!--    <div data-th-text="Un titre avec des pipes ${title}"></div>-->
    <br>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Message</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="contact : ${contacts}">
            <td data-th-text="${contact.id}"></td>
            <td data-th-text="${contact.name}"></td>
            <td data-th-text="${contact.email}"></td>
            <td data-th-text="${contact.message}"></td>
            <td>
                <a data-th-href="@{/contact/{id}/edit(id=${contact.id})}">Editer</a>
                <a data-th-href="@{/contact/{id}/delete(id=${contact.id})}">Supprimer</a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>
